<h2>Ratings info</h2>

<p>Total of <%= Rating.count %> ratings given</p>

<h2>Best Breweries</h2>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Year</th>
  </tr>
  </thead>

  <tbody>
  <% @topbreweries.each do |brewery| %>
      <tr>
        <td><%= link_to brewery.name, brewery %></td>
        <td><%= brewery.year %></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>

<h2>Best Beers</h2>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Style</th>
    <th>Brewery</th>
  </tr>
  </thead>

  <tbody>
  <% @topbeers.each do |beer| %>
    <tr>
      <td><%= link_to beer.name, beer %></td>
      <td><%= beer.style %></td>
      <td><%= link_to beer.brewery.name, beer.brewery %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<h2>Best Users</h2>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Ratings created</th>
  </tr>
  </thead>

  <tbody>
  <% @topusers.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.ratings.count %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<h2>Last 5 ratings</h2>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Beer</th>
    <th>Value</th>
    <th>User</th>
  </tr>
  </thead>

  <tbody>
  <% @ratings.each do |rating| %>
      <tr>
        <td><%= link_to rating.beer.name, rating.beer %></td>
        <td><%= rating.score %></td>
        <td><%= link_to rating.user.username, rating.user %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<h2>Best beer styles</h2>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Style</th>
    <th>Average rating</th>
  </tr>
  </thead>

  <tbody>
  <% @topstyles.each do |style| %>
      <tr>
        <td><%= style.name %></td>
        <td><%= number_with_precision(style.average_rating, precision: 1) %></td>
      </tr>
  <% end %>
  </tbody>
</table>


<%= link_to "new rating", new_rating_path, class:"btn btn-success" %>